pgdata/*
vendor/*
drupal/web/core/*
drupal/web/themes/contrib
drupal/web/modules/contrib
drupal/web/profiles/contrib
drupal/web/libraries/contrib
drupal/vendor/*
drupal/web/sites/
drupal/.editorconfig
drupal/.gitattributes
drupal/web/.csslintrc
drupal/web/.eslintignore
drupal/web/.eslintrc.json
drupal/web/.ht.router.php
drupal/web/.htaccess
drupal/web/INSTALL.txt
drupal/web/README.md
drupal/web/autoload.php
drupal/web/example.gitignore
drupal/web/index.php
drupal/web/modules/README.txt
drupal/web/profiles/README.txt
drupal/web/robots.txt
drupal/web/themes/README.txt
drupal/web/update.php
