# nginx.conf
events {}

http {
    include    mime.types;
    sendfile on;
    server {
        listen 80;
        server_name localhost;

        root /var/www/html/web;
        index index.php;

        # Error log and access log
        error_log  /var/log/nginx/error.log;
        access_log /var/log/nginx/access.log;

        location / {
            try_files $uri /index.php?$query_string;
        }
        location @rewrite {
            rewrite ^/(.*)$ /index.php?q=$1;
        }

        location ~ \.php$ {
            include fastcgi_params;
            fastcgi_pass php-container:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        # Fighting with Styles? This little gem is amazing.
        location ~ ^/sites/.*/files/styles/ {
            try_files $uri @rewrite;
        }

        # Handle private files through Drupal. Private file's path can come
        # with a language prefix.
        location ~ ^(/[a-z\-]+)?/system/files/ {
            try_files $uri /index.php?$query_string;
        }

    }
}
